#showcase-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#showcase-grid-wrapper {
    width: 40vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

#showcase-grid {
    max-width: 60vw;
    display: grid;
    grid-template-columns: repeat(2, 15vw);
    grid-template-rows: repeat(2, 15vw);
    gap: 2rem;
    justify-content: center;
}

.duck-container {
    width: 15vw;
    height: 15vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}

.duck-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.duck-description {
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-foreground-color);
}

#showcase-content-wrapper {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#showcase-content-cta {
    margin-top: 40px;
    padding: 10px;
    font-size: 1.5rem;
    color: var(--secondary-foreground-color);
}

div#showcase-content-cta:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    #showcase-wrapper {
        flex-direction: column;
        height: auto;
        padding: 2rem 0;
    }

    #showcase-grid-wrapper {
        width: 90vw;
        margin-bottom: 2rem;
    }

    #showcase-grid {
        grid-template-columns: repeat(2, 30vw);
        grid-template-rows: repeat(2, 30vw);
        gap: 1rem;
    }

    .duck-container {
        width: 30vw;
        height: 30vw;
    }

    #showcase-content-wrapper {
        width: 80vw;
        height: auto;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    #showcase-grid {
        grid-template-columns: repeat(1, 60vw);
        grid-template-rows: repeat(4, 60vw);
    }

    .duck-container {
        width: 60vw;
        height: 60vw;
    }

    .duck-description {
        font-size: 1rem;
    }

    div#showcase-content-cta {
        font-size: 1.2rem;
    }
}
